body {
    font-family: 'Inter', sans-serif;
    background: #e0e0e0;
    margin: 0;
    padding: 20px;
    color: #333;
}

h4 {
    font-size: 55px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-top: 55px;
    color: #333;
}

.balance {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    background: #e0e0e0;
    box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
    margin-bottom: 23px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.balance img {
    width: 24px;
    height: 24px;
}

.expense-form, form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    background: #e0e0e0;
    box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 10px;
}

form input, form select, form button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #e0e0e0;
    box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff;
    outline: none;
    font-size: 16px;
}

form button {
    background: #e0e0e0;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

form button:hover {
    background: #d1d1d1;
    box-shadow: inset 3px 3px 8px #bebebe, inset -3px -3px 8px #ffffff;
}

.expense-table {
    margin-top: 20px;
    max-width: 600px;
    margin: auto;
    padding: 35px;
    border-radius: 12px;
    background: #ff0000;
    box-shadow: 6px 6px 12px #d93e3e, -6px -6px 12px #ff4b4b;
}

.expense-table table {
    width: 100%;
    border-collapse: collapse;
    background: #e0e0e0;
    border-radius: 12px;
    box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff;
}

.expense-table th, .expense-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-size: 16px;
    color: #333;
}

#generate-excel {
    background: #e0e0e0;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 120px;
    margin: 20px auto;
    display: block;
    box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
    transition: 0.3s ease-in-out;
}

#generate-excel:hover {
    background: #d1d1d1;
    box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff;
}
